.journal {
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 380px;
    margin-top: 100px;
}

.heading {
    margin-bottom: 0px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: fadeIn;
    animation-duration: 5s;
}

.entries {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px 0px;
    width: 60%;
    max-width: 800px;
    min-width: 380px;
    border-radius: 20px;
    border-style: double;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: fadeIn;
    animation-duration: 5s;
}

button {
    font-size: large;
    font-weight: bold;
    width: 100px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes fadeIn {
  from {background-color: rgba(0, 0, 0, 0.0);}
  to {background-color: rgba(0, 0, 0, 0.7);}
}